/* CSS chat contact */

.container-chat{
  width: 80%;
  height:400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.chat-left{
  width: 50%;
  height: auto;
}

.search-container {
  width: 80%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

input[type="search"] {
  padding:1em;
  border: 1px solid rgb(145, 141, 141);
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

.search-container button {
  background-color: #14AE5C;
  color: white;
  padding: 1em;
  border: 0.5px solid #14AE5C;
  border-radius: 5px;
  cursor: pointer;
}

.search-down{
  width:375px ;
  height: 200px;
  margin: 0 auto;
  border: 1px solid rgb(181, 179, 179);
  box-shadow: 2px 2px 1px rgba(6, 0, 0, 0.3);
  overflow-y: scroll;
}

.chat-right{
  width: 50%;
  height:400px;
  border-left: 0.1px solid black;
  overflow-y: scroll;

}

.row_demandes{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
}


.image_rows{
  width: 30%;
  text-align: center;
}

.image_rows img{
  width: 100%;
  object-fit: cover;
}

.info_rows{
  padding: 1em;
}

.info_rows h3{
  text-align:start;
}


.info_rows .btn-rejets{
  padding: 1em;
  margin-top: 1em;
  cursor: pointer;
  background-color:#EF5D36;
  border-radius: 5px;
}
.info_rows button:hover{
  opacity: 0.8;
}
.infos_search{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.btn-search{
  background-color: #14AE5C;
  color: white;
  padding: 1em;
  border: 0.5px solid #14AE5C;
  border-radius: 5px;
  cursor: pointer;
}
.container-repertoire{
  width: 80%;
  height:auto ;
  margin: 2em auto;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
  

.container-contact{
  width: 30%;
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 10px;
}

.search-contact {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

input[type="search"] {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  margin: 2em auto;
}


.liste-contact{
  border: 1px solid rgba(90, 90, 90, 0.3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5em;
}

.container-message{
  width: 70%;
  display: flex;
  flex-direction: column;
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-name{
  width: 100%;
  height: auto;
  /* display: flex; */
  border-bottom: 1px solid rgb(78, 77, 74);
}


.container-name p{
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 2em;
}

.image-contact{
  width: 20%; 
}


.image-contact img{
  width: 100%;
  object-fit: cover;
}



.message {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  height: 570px;
  overflow-y: scroll;
}

.message-received {
  background-color: #010101;
  margin: 5px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  float: left;
  clear: both;
}

.message-sent {
  background-color: #36ef45;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  float: right;
  clear: both;
}

@media screen and (max-width:600px){

  .container-chat{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    margin: 10em auto;
    height: auto;
    
  }
  .search-container input{
    border: 1px solid black;
    width: 200px;
  }

  .search-down{
    width: 280px;

  }
  .chat-left{
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height:500px;
   
  }
  .chat-right{
    width: 100%;
    border-left: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height:auto;
  
  }
  .container-repertoire{
    width: 100%;
    box-shadow:none ;
  }

  .container-contact{
    width: 80%;
    margin: 0 auto;
    border-radius: 5px; 
  }
  .container-message{
    display: block;
  }
}
