
@media screen and (max-width:600px)
{

  header {
    position: relative;
    justify-content: space-between;
    width: 100vw;
  }

  header .burger {
    display: block;
  }

  header .logo {
    width: 30%;
    margin: 0;
  }

  header nav {
    width: auto;
  }

  .logout {
    display: flex;
    padding: 1em;

  }

  header nav a {
    font-size: small;
  }

  header nav .links {
    display: none;
    background-color: #26E8A0;
    position: absolute;
    top: 120px;
    left: 0px;
    padding: 2em;
    width: 100vw;
  }
  header nav .links li {
    margin-right: 3em;
    padding: 10px;
    text-align: center;
      
  }
  header nav .links li a{
    font-size: large;
  }
  header img {
    width: 40px;
  }
  .logout span {
    display: none;
  }

  /* Mobile Index */
  .classLogoIndex img{
    width: 40%;
  }

  /* Mobile Inscription Association */
  .classContainerFormAsso{
    margin:auto;
    width:50%;
  }
  .classLogoFormAsso img{
    width:75%;
  }
  .itembtnsubmitAssoform button,a{
    width: auto;
  }

  /* Mobile inscription etudiant */
  .classLogoFormEtu img{
    width:75%;
  }
  .itembtnsubmitEtuform button,a{
    width: auto;
  }

  /* mobile connexion */
  .classLogoFormConnexion{
  text-align: center;
    background-color: aqua;
    width: 100%;
  }
  .classLogoFormConnexion img{
    width:70%;
  }
  .itembtnsubmitConnexionform button{
    width: 100%;
  }
  .classContainerFormConnexion{
    background-color: blue;
  }

  .itemConnexionform{
    background-color: crimson;
    padding: 1em;
    width: 50%;
  }
  input[type="email"],input[type="password"]{
    display: block;
    margin:1px 0 1px;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
  }

  /* Mobile Espace personnel Associations */
  .classBlockAbonnement_asso{
    display: block;
  }

  /* mobile Espace personnel Profil */
  .classBtnUpdateInfosProfil{
    margin-top: 1em;
    width: 30%;
  }
  .BlockLamda .fielset1{
    background-color: red;
    width:80%;
  }
  .BlockLamda .fielset2{
    background-color: red;
    width:auto;
  }
  .itembtnsubmitUpdateform{
    margin:0 auto;
    width: auto;
  }
  .itembtnsubmitUpdateform button{
  width: 200px;
  }
  .classBlockInfosProfil{
    background-color: crimson;
    width:10px;
    height: 800px;
  }
  .classContainerDisplayProfil{
    background-color: #EF5D36;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
  }
}
  




