@import url('mobile.css');

:root{
  /* Sections Couleurs  */
  --color-background:#ffff;
  --color-first:#14AE5C;
  --color-second:#030303;

  /* Section Font size Dekstop */
  --size-desktop-title1:35px;
  --size-desktop-title2:30px;
  --size-desktop-title3:20px;
  --size-desktop-body:16px;
  --size-desktop-small:13px;

  /* Section Font size Mobile */
  --size-mobile-title1:30px;
  --size-mobile-title2:24px;
  --size-mobile-title3:18px;
  --size-mobile-body:14px; 
  --size-mobile-small:12px; 
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Mulish', sans-serif;
  background-color: var(--color-background);
}
.classWrapperIndex{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 5em;
}

.classLogoIndex img{
  width:20%;
}
.classTextChoix{
  margin-top: 2em;
  color: var(--color-second);
}
.classBlockBtn{
  display: flex;
  justify-content: center;
}
.classBlockBtn a{
  margin: 1em 0 0 1em;
  padding: 1em;
  width: auto;
  border: 1px solid var(--color-first);
  background-color: var(--color-first);
  color: var(--color-background);
  border-radius: 5px;
  text-decoration: none;
}
/* Footer  */
footer{
  background-color: var(--color-second);
}
.containerFooter{
  margin-top: 3em;
  display: flex;
  align-items: center;
}
.containerFooter{
  padding: 3em;
}
.classLogoFooter img{
  width: 50%;
}
.classItemsFooter ul{
  margin-top: 2em;
}
.classItemsFooter ul li {
  margin-top: 1em;
}
.classItemsFooter ul li a{
  text-decoration: none;
  color: var(--color-background);
}
.classItemsFooter ul li a:hover{
  text-decoration: underline;
}
.classCopyRightFooter{
  text-align: center;
  color: var(--color-background);
  margin-bottom: 1em;
}

/* Page Inscription Association */
.classLogoFormAsso{
  padding: 1em;
  width:30%;
  margin:2em 0 0 2em;
}
.classLogoFormAsso img{
  width:40%;
}
.classContainerFormAsso{
  margin:auto;
  width:50%;
}
.itemAssoform{
  padding: 1em;
  width: 100%;
}
.classTitleFormAsso{
  font-size: var(--size-desktop-title1);
  font-weight: 700;
  text-align: center;
  
}
label{
  text-align: center;
}
input[type="text"],input[type="email"],input[type="password"],select{
  display: block;
  margin:1px 0 1px;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}
textarea{
  margin:1px 0 1px;
  width: 100%;
  border-radius: 5px;
}
.itempôAssoform{
  padding: 1em;
  width: 100%;
  text-align: justify;
  line-height: 20px;
  font-size: var(--size-desktop-small);
}
.itembtnsubmitAssoform{
  display: flex;
  justify-content:flex-start;
  padding: 1em;
  width: 30%;
}
.itembtnsubmitAssoform button{
  padding: 10px;
  width: auto;
  border: 1px solid --color-first;
  background-color: var(--color-first);
  border-radius: 5px;
  color: var(--color-background);
  cursor: pointer;
}
.itembtnsubmitAssoform a{
  padding: 10px;
  width: auto;
  margin-left: 1em;
  text-align: center;
  border: 1px solid --color-first;
  background-color: var(--color-first);
  border-radius: 5px;
  color: var(--color-background);
  text-decoration: none;
}
.itembtnsubmitAssoform a:hover{
  opacity: 0.8;
}
.itembtnsubmitAssoform button:hover{
  opacity: 0.8;
}
.itemBtnradioAssoform{
  padding: 1em;
}
input[type="checkbox"]{
  padding: 1em;
  display: inline;
}
.classTextWelcomeFormAsso{
  margin: 1em auto 1em auto;
  text-align: center;
  font-size: var(--size-desktop-title3);
  width: 100%;
}
.classLigneSeparationFormAsso{
  color: var(--color-second);
}
.classHaveYouAccountFormAsso{
  font-weight: 200;
  line-height: 20px;
  font-size: var(--size-desktop-small);
}

/* Page Inscription Etudiant */

.classLogoFormEtu{
  padding: 1em;
  width:30%;
  margin:2em 0 0 2em;
}
.classLogoFormEtu img{
  width:40%;
}
/* .classBlockTextEtu{
  padding: 5px;
  background-color: #14AE5C;
} */
.classTitleFormEtu{
  font-size: var(--size-desktop-title1);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.classContainerFormEtu{
  margin:auto;
  width:50%;
}
.itemEtuform{
  padding: 1em;
  width: 100%;
}
label{
  text-align: center;
}
input[type="text"],input[type="email"],input[type="password"],select{
  display: block;
  margin:1px 0 1px;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

.itempôEtuform{
  padding: 1em;
  width: 100%;
  text-align: justify;
  line-height: 20px;
  font-size: var(--size-desktop-small);
}
.itembtnsubmitEtuform{
  display: flex;
  justify-content:flex-start;
  padding: 1em;
  width: 40%;
}
.itembtnsubmitEtuform a{
  padding: 10px;
  width: auto;
  margin-left: 1em;
  text-align: center;
  border: 1px solid --color-first;
  background-color: var(--color-first);
  border-radius: 5px;
  color: var(--color-background);
  text-decoration: none;
}
.itembtnsubmitEtuform a:hover{
  opacity: 0.8;
}
.itembtnsubmitEtuform button{
  padding: 10px;
  width: auto;
  cursor: pointer;
  border: 1px solid --color-first;
  background-color: var(--color-first);
  border-radius: 5px;
  color: var(--color-background);
}
.itembtnsubmitEtuform button:hover{
  opacity: 0.8;
}
.itemBtnradioEtuform{
  padding: 1em;
}
input[type="checkbox"]{
  padding: 1em;
  display: inline;
}
.classTextWelcomeFormEtu{
  margin: 1em auto 1em auto;
  text-align: center;
  font-size: var(--size-desktop-title3);
  /* font-weight: 600; */
  width: 100%;
}
.classLigneSeparationFormEtu{
  color: var(--color-second);
}
.classHaveYouAccountFormEtu{
  font-weight: 200;
  line-height: 20px;
  font-size: var(--size-desktop-small);
}


/* Page Connexion */

.classLogoFormConnexion{
  padding: 1em;
  width:30%;
  margin:2em 0 0 2em;
}
.classLogoFormConnexion img{
  width:40%;
}
.classContainerFormConnexion{
  margin:0 auto; 
  width:50%;
}
.itemConnexionform{
  padding: 1em;
  width: 100%;
}
label{
  text-align: center;
}
input[type="email"],input[type="password"]{
  display: block;
  margin:1px 0 1px;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

.itembtnsubmitConnexionform{
  display: flex;
  justify-content:flex-start;
  padding: 1em;
  width: 30%;
}

.itembtnsubmitConnexionform button{
  padding: 10px;
  width: auto;
  cursor: pointer;
  border: 1px solid --color-first;
  background-color: var(--color-first);
  border-radius: 5px;
  color: var(--color-background);
}
.itembtnsubmitConnexionform button:hover{
  opacity: 0.8;
}

.classTextWelcomeFormConnexion{
  margin: 1em auto 1em auto;
  text-align: center;
  font-size: var(--size-desktop-title3);
  width: 100%;
}
.classHaveYouAccountFormConnexion{
  font-weight: 200;
  line-height: 20px;
  font-size: var(--size-desktop-small);
  margin-left: 1em;
}


/* Page Espace personnel */
.classContainerEspacePerso{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em;
}
.classContainerEspacePerso a{
  color: var(--color-second);
  text-decoration: none;
}
.classContainerEspacePerso .classBlockProfil{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 1em 2em 0.5em;
  width:350px;
  height:300px;
  border: 1px solid #14AE5C;
  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.classContainerEspacePerso .classBlockProfil:hover{
  background-color:#14AE5C;
  color: var(--color-background);
}
.classContainerEspacePerso img{
  width: 80px;
}
.classTextprofil {
  font-size: 24px;
  margin-top: 20px;
}

/* Page Espace personnel/Mes Associations */

.classContainerAbonnement_asso{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  max-width: 1300px;
  margin: 0 auto;
}
.classBlockAbonnement_asso{
  display: flex;
  align-items: center;
  width:350px;
  height: 300px;
  margin: 0 2em 2em 0;
  padding: 1em;
  border-radius:10px ;
  background-color: var(--color-background);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.classBlockAbonnement_asso div a{
  padding: 0.5em;
  border: 1.5px solid #14AE5C;
  width: auto;
  color: var(--color-second);
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--color-background);
}
.classBlockAbonnement_asso div a:hover{
  color: #ffff;
  background-color: var(--color-first);
}
.classBlockAbonnement_asso div p{
  margin-top: 1em;
}
.classImageAbonnement_asso{
  margin: 0 auto;
 width: 50%;
}
.classImageAbonnement_asso img{
 width: 100%;
}
/* Page Espace personnel/Mes Evenements */

.classContainerEvenement{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  max-width: 1300px;
  margin: 0 auto;
}
.classBlockEvenement{
  width:350px;
  height: 400px;
  margin: 0 2em 2em 0;
  padding:2em;
  border-radius:10px ;
  background-color: var(--color-background);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.classBlockEvenement div a{
  padding: 0.5em;
  width: auto;
  color: var(--color-second);
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--color-background);
}
.classBlockEvenement div p{
  margin:1em 0 1em 0;
}
.classImageEvenement{
 width: auto;
}
.classImageEvenement img{
  text-align: center;
 width: 60%;
}

/* Page Profil */
.classContainerUpdateProfil{
  padding: 1em;
  background-color: #B3B3B3B3;
}
.classBlockInfosProfil{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #B3B3B3B3;
  margin: 2em auto;
  padding:1em 0 1em 1em;
  max-width: 1200px;
}
.classBlockInfosProfil div{
  margin-right:2em;
}
.classBlockInfosProfil div p{
  margin-top:1em;
}
.classAvatarProfil{
  width: 30%;
}
.classAvatarProfil img{
  width: 100%;
}
.classBtnUpdateInfosProfil{
  padding: 1em;
  border: 1px solid #14AE5C;
  border-radius: 5px;
  width:120px;
  cursor: pointer;
}
.classBtnUpdateInfosProfil:hover{
  color: var(--color-background);
  background-color: var(--color-first);
}
.classContainerUpdateProfil{
  /* pointer-events: none; */
  display: none;
  width: 100%;
}
.classContainerUpdateProfil fieldset{
  padding: 1em;
}
.BlockLamda{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
}
.BlockLamda .fielset1{
  margin-bottom: 1em;
  border: 2px solid rgb(12, 11, 11);
  width:70%;
}
.BlockLamda .fielset2{
  border: 2px solid rgb(12, 11, 11);
  width:70%;
}
.BlockLamda img{
  width: 20%;
}
#preview {
  display: none;
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.BlockLamda input[type="file"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.BlockLamda input[type="email"],input[type="text"],input[type="password"],textarea{
  margin-bottom: 1rem;
}
input[type="file"]:focus {
  outline: none;
  border-color: #0077ff;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: var(--color-background);
  color: var(--color-second);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
  background-color: var(--color-background);
  color: var(--color-second);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.itembtnsubmitUpdateform{
  margin:12px 0 0 13em;
  width: auto;
}
.itembtnsubmitUpdateform button{
  background-color: var(--color-background);
  border: 1px solid #14AE5C;
  padding: 1rem;
  border-radius: 5px;
  width:120px;
  cursor: pointer;
}
.itembtnsubmitUpdateform button:hover{
  color: var(--color-background);
  background-color:  #14AE5C;
}
